body{
    background-color: #c24d2c;
    color: black;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

tr{
    background-color: black;
    color: white;
}

.lighter-stones { 
	background: #d9dad7; 
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.dark-stones { 
	background: #1a2639;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}
